node_modules/

package-lock.json
yarn.lock

cypress/reports/
cypress/screenshots/
cypress/videos/

.cypress-cache/
.DS_Store
.env
.env.local

jsonlogs/
*.log

dist/
build/

.vscode/settings.json
.idea/
*.swp
*.swo
*~

coverage/
temp/
tmp/